:root{
    --gradient:linear-gradient(90deg, #f1c40f, #f39c12);
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    line-height: normal;
    transition: all .2s linear;
}

*::selection{
    background:#f39c12;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:rgb(82, 138, 139);
}

html::-webkit-scrollbar-thumb{
    background:#333;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background:rgb(82, 138, 139);
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    height: 45px;
}
header .logo{
    color:#fff;
    font-size: 2.5rem;
}
header .logo2{
    height: 35px;
    padding-top: 5px;

}

.header{
    min-height: 160vh;
    width: 100%;
    background:linear-gradient(90deg,#05993e, #031257);;
    background-position: center;
    background-size: cover;
    position: relative; 
}
.dev{
    padding-top: 120px;
}
.dev2{
    padding-top: -80px;
}
nav{
    display: flex;
    padding: 2px;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #13237c;
    display:block;
    margin: auto;
    transition: 0.5s;
} 
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font: italic;
    margin-bottom: 20px;
    margin-top: 90px;
}
.text-box h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    margin: 10px 0 30px;
    font-size: 20px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 17px;
    background: rgb(82, 138, 139);
    position: relative;
    cursor: pointer;
    margin: 10px;
    border-radius: 15px;
}
.book{
     display: inline-block;
    text-decoration: none;
    color:black;
    border: 2px solid black;
    padding: 6px 20px;
    font-size: 13px;
    background:linear-gradient(#33c96d, #61da71);
    position: relative;
    cursor: pointer;
    margin: 17px;
}
.bookk{
     display: inline-block;
    text-decoration: none;
    color:black;
    border: 2px solid black;
    padding: 6px 20px;
    font-size: 13px;
    background:linear-gradient(#33c96d, #61da71);
    position: relative;
    cursor: pointer;
    margin-left: 110px;
    margin-top: 40px;
}
.hero-btn:hover{
   
    background: rgb(40, 67, 68);
    transition: 1s;
}
nav .fa{
    display:none;
}


@media(max-width:900px){
    .header{
        padding: -150px;
        width: 100%;
    }
    .text-box h1{
    font-size: 20px;
}
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #1e0992;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}


.aboutt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.aboutt .image{
    flex:1 1 40rem;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 30px;

}

.aboutt .image img{
    height:65vh;
    width:100%;
}

.aboutt .contentt{
    flex:1 1 40rem;
}

.aboutt .contentt h2{
    font-size: 35px;
    color:#666;
}
.aboutt .contentt h3{
    font-size: 20px;
    color:#666;
}

.aboutt .contentt p{
    font-size: 17px;
    color:#666;
    padding:10px
}
.aboutt .contentt .listt{
    font-size: 17px;
    color:#666;
    padding:30px
}

.abouttt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}


.abouttt .contenttt{
    flex:1 1 40rem;
}

.abouttt .contenttt h2{
    padding-left: 80px;
    font-size: 35px;
    color:#666;
}
.abouttt .contenttt h3{
    padding-right: 1000px;
    font-size: 20px;
    color:#666;
    margin-top: 35px;
}


.abouttt .contenttt p{
    font-size: 17px;
    color:#666;
    padding-left:146px;
    margin-top: 6px;
}
@media (max-width: 900px) {
    .abouttt {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .abouttt .contenttt {
        flex: 1 1 40rem;
    }
    .abouttt .contenttt h2 {
        padding: 0 30%;
        font-size: 35px;
        color: #666;
    }
    .abouttt .contenttt h3 {
        padding-left: 30%;
        font-size: 25px;
        color: #666;
    }
    .abouttt .contenttt p {
        font-size: 20px;
        color: #666;
        padding: 0 30%;
    }
}
    


.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 70px;
}

.about .image{
    flex:1 1 40rem;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 30px;

}

.about .image img{
    height:65vh;
    width:100%;
}

.about .content{
    flex:.5 .5 45rem;
}

.about .content h3{
    font-size: 4.5rem;
    color:rgb(5, 5, 44);
    font-family: 'Roboto', sans-serif; 
    font-weight: bolder;
}

.about .content p{
    line-height: normal;
    font-size: 2.5rem;
    color:#140d48;
    font-family: 'Roboto', sans-serif; 
    padding:1rem;
    margin-right: 3rem;
}

/*------Services-----*/
.service{
  margin-top: 110px;  
  width: 100vw;
  text-align: center;
}
.service .heading{
    color:#140d48;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

.service .row{
  margin:2rem 0;
  padding:0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .row .image img{
  width:50vw;
  height:55vh;
}

.service .row .content{
  text-align: left;
  padding:0 3rem;
}

.service .row .content h3{
  font-size: 3rem;
  color:var(--color);
}

.service .row .content p{
  padding:1rem 0;
  line-height: normal;
  font-size: 2.5rem;
  color:#140d48;
  font-family: 'Roboto', sans-serif; 
}


/*------Course-----*/
.course{
    margin-bottom: 25px;
}
.course .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

.course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .box-container .box{
    width:20rem;
    border:.1rem solid rgba(0,0,0,.3);
    position: relative;
    margin:1.1rem;  
}

.course .box-container .box img{
    height:12rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content{
    padding:0.5rem;
}

.course .box-container .box .content .stars i{
    color:#f39c12;
    font-size: 1.2rem;
    padding:1rem .1rem;
}

.course .box-container .box .content .title{
    color:#444;
    font-size: 1.8rem;
}

.course .box-container .box .content .title:hover{
    text-decoration: underline;
}

.course .box-container .box .content p{
    padding:1rem 0;
    color:#666;
    font-size: 1.1rem;
}

.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.course .box-container .box .content .info h3{
    font-size: 1.1rem;
    padding:1rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{
    color:#f39c12;
}

.course .box-container .box .price{
    position: absolute;
    top: 12.5rem;
    right: 6rem;
    height: 2rem;
    width: 4rem;
    line-height: rem;
    text-align: center;
    border-radius: 50%;
    color: yellowgreen;
    font-size: 2rem;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #f5dadd;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    .about p{
        margin-left: 90px;
        margin-right: 30px;
        width: 75%;
    }
    .about a{
        margin-left: 110px;
    }
}

/*------testimonials-------*/
.testimonials{
    width: 80%;
    margin: 25px auto;
    text-align: center;
    
}
.testimonials .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa{
    color: #f44336;
}
@media(max-width: 700px){
    .testimonials-col img{
       margin-left: 0px;
       margin-right: 15px;
    }
}
/*-----Call to Action----*/

.cta{
    min-height: 100vh;
    width: 100%;
    background: #031257;
    background-position: center;
    background-size: cover;

    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding-top: 100px;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*-----footer---*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}


/*-----About us----*/

.sub-header{
    height: 75vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/back.svg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 30px;
    padding-top: 190px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-block-end: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color:#fff;
}
.contact{
    background:rgb(160, 218, 133);
    
}

.contact .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

.contact .row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row form{
    flex:1 1 50rem;
    background:#rgb(160, 218, 133);
    padding:2rem;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-top: 3rem;
    align-items:center;
}

.contact .row form .box{
    height: 5rem;
    width: 49%;
    border: .7rem solid #eee;
    
    padding: 0 5rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #fff;
    background: none;
    text-transform: none;
}

.contact .row form .box:focus{
    border-color: #f39c12;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .address{
    height:15rem;
    padding:1rem;
    resize: none;
    width:100%;
}

.contact .row form .btn:hover{
    background:#fff;
    color:#333;
}

.contact .row .image img{
    height: 80vh;
    margin-top: 2rem;
}

.footer{
    background:rgb(160, 218, 133);
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    margin:1.5rem;
    text-align: center;
    flex:1 1 25rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:.7rem 0;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:#f39c12;
}

.footer .box-container .box a{
    font-size: 1.8rem;
    display: block;
    padding:.5rem 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .credit{
    padding:2rem 1rem;
    font-size: 2rem;
    color:#fff;
    background:rgb(160, 218, 133);
    text-align: center;
    font-weight: normal;
    padding-bottom: 9rem;
}

.footer .credit a{
    color:#f39c12
}
.subb-header{
    height: 20vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/971.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.subb-header h1{
    margin-top: 30px;
    padding-top: 30px;
}

.reg-form {
  background: #fff;
  box-sizing: border-box;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 15px auto;
  padding: 15px;
  width: 100%;
  border: 2px solid black;
}
 
.form-heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 5px;
}
 
.helper-text {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: right;
}
.field-row {
  position: relative;
  width: 100%;
}
 
.form-label {
  display: inline-block;
  font-size: 16px;
  margin: 0 5px 5px 0;
  text-align: right;
  width: 100px;
}
 
.field {
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  width: 240px;
}
.field.field-short {
  width: 70px;
}
.message {
  display: inline-block;
}
 
:required + .message::before {
  content: "* ";
}
 .text-field:focus:required:valid {
  outline: green solid 2px;
}
.text-field:focus:required:invalid {
  outline: orange solid 2px;
}
.date-field:focus:in-range {
  outline: green solid 2px;
}
.date-field:focus:out-of-range {
  outline: orange solid 2px;
}
 
.website-field:focus:valid {
  outline: green solid 2px;
}
.website-field:focus:invalid {
  outline: orange solid 2px;
}
.form-button {
  background: linear-gradient(180deg, #808080, #2a2a2a);
  border: none;
  border-radius: 0;
  color: white;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
}
.first-name-field:focus:invalid + .message::after {
  color: orange;
  content: "Required your first name";
}
 
.last-name-field:focus:invalid + .message::after {
  color: orange;
  content: "Required your last name";
}
 
.dob-field:focus:out-of-range + .message::after {
  color: orange;
  content: "Date is out of range";
}
 
.tel-field:focus:invalid + .message::after {
  color: orange;
  content: "Required telephone number";
}
 
.email-field:focus:invalid + .message::after {
  color: orange;
  content: "Required email address";
}
.hs-field:focus:invalid + .message::after {
  color: orange;
  content: "Required high school name";
}
 
.address-field:focus:invalid + .message::after {
  color: orange;
  content: "Required permanent address";
}
 
.website-field:focus:invalid + .message::after {
  color: orange;
  content: "Required valid URL";
}
.service-wrp{
background: #a6dbbe ;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
margin-top: 10px;
padding-top: 60px;
padding-bottom: 60px
}

.service-wrpp{
background: #94d6b0 ;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
margin-top: 10px;
padding-top: 60px;
padding-bottom: 60px
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
  margin-top: 20px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #022642;
  color: white;
}

.service-wrp-inner{
max-width: 1140px;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.service-card{
width: 32%;
margin: 10px 0
}
.service-cardd{
width: 45%;
margin: 10px 0
}
.head{
	width: 100%;
}

.service-card h4 {
font-size: 32px;
font-weight: 300;
line-height: 1.5;
color: rgb(12, 11, 11);
}
.service-cardd h4 {
font-size: 32px;
font-weight: 300;
line-height: 1.5;
color: rgb(12, 11, 11);
}

.bg-dark{
background-color: rgba(23, 23, 24, 0.02);
padding: 30px;
}

.d-flex{
display: flex;
align-items: center;
margin-bottom: 20px
}

.service-card .icon{
	margin-right: 15px;

}
.service-cardd .iconn{
	margin-right: 15px;
    border-radius: 50%;

}

.service-card .heading h5{
color: #0a0a0a;
font-weight: 500;
font-size: 20px;
line-height: 1.3
}
.service-cardd .heading h5{
color: #0a0a0a;
font-weight: 500;
font-size: 20px;
line-height: 1.3
}
 .text{
	
	color: #0a0a0a;
	text-align: center;
    line-height: 1.7; 
    margin-top: 50px;
    margin-bottom: 50px;
 }
.service-card .info{
color: #0a0a0a;
line-height: 1.7;	
}

.service-cardd .info{
color: #0a0a0a;
line-height: 1.7;	
}

.service-card .info-link{
	color: #5172be;
	font-size: 12px
}
.service-cardd .info-link{
	color: #5172be;
	font-size: 12px
}


/***********/

@media (max-width: 768px){
.service-wrp {
padding: 40px 15px;
margin-top: 0
}
.service-wrpp {
padding: 40px 15px;
margin-top: 0
}

.service-card h4 {
font-size: 26px;
line-height: 1.3;
}
.service-cardd h4 {
font-size: 26px;
line-height: 1.3;
}

.service-wrp-inner {
flex-direction: column;
}

.service-card {
width: 100%;
margin: 10px 0px;
}
.service-cardd {
width: 100%;
margin: 10px 0px;
}

















