*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/971.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
     margin-bottom: 30px;
}
nav{
    display: flex;
    padding: 2px;
    justify-content:space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s;
} 
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display:none;
}


@media(max-width:700px){
    .text-box h1{
    font-size: 20px;
}
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}
.hrr {
  border:none;
  border-top:15px dotted gray; 
  color:#fff;
  background-color:#fff;
  height:5px;
  width:100%;
 
}

/*------Services-----*/
.service{
  margin-top: 10px;  
  width: 100vw;
  text-align: center;
}
.service .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

.service .row{
  margin:2rem 0;
  padding:0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .row .image img{
  width:50vw;
  height:55vh;
}

.service .row .content{
  text-align: left;
  padding:0 3rem;
}

.service .row .content h3{
  font-size: 3rem;
  color:var(--color);
}

.service .row .content p{
  font-size: 1.5rem;
  color:#333;
  padding:1rem 0;
}


/*------Course-----*/
.course{
    margin-bottom: 25px;
}
.course .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

.course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.course .box-container .box{
    width:20rem;
    border:.1rem solid rgba(0,0,0,.3);
    position: relative;
    margin:1.1rem;  
}

.course .box-container .box img{
    height:12rem;
    width: 100%;
    object-fit: cover;
}

.course .box-container .box .content{
    padding:0.5rem;
}

.course .box-container .box .content .stars i{
    color:#f39c12;
    font-size: 1.2rem;
    padding:1rem .1rem;
}

.course .box-container .box .content .title{
    color:#444;
    font-size: 1.8rem;
}

.course .box-container .box .content .title:hover{
    text-decoration: underline;
}

.course .box-container .box .content p{
    padding:1rem 0;
    color:#666;
    font-size: 1.1rem;
}

.course .box-container .box .content .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .5rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}

.course .box-container .box .content .info h3{
    font-size: 1.1rem;
    padding:1rem;
    color:#666;
}

.course .box-container .box .content .info h3 i{
    color:#f39c12;
}

.course .box-container .box .price{
    position: absolute;
    top: 12.5rem;
    right: 6rem;
    height: 2rem;
    width: 4rem;
    line-height: rem;
    text-align: center;
    border-radius: 50%;
    color: yellowgreen;
    font-size: 2rem;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #f5dadd;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/*------testimonials-------*/
.testimonials{
    width: 80%;
    margin: 25px auto;
    text-align: center;
    
}
.testimonials .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonials-col .fa{
    color: #f44336;
}
@media(max-width: 700px){
    .testimonials-col img{
       margin-left: 0px;
       margin-right: 15px;
    }
}
/*-----Call to Action----*/

.cta{
    width: 100%;
    margin: 25px auto;

    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*-----footer---*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer .heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
padding: 18px 0;
}
.fa-heart-o{
    color: #f44336;
}


/*-----About us----*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 75px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-block-end: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color:#fff;
}




























